.card {
    width: 25%;
    height: 50%;

    border-radius: 5px;
    background-color: blue;
    color: white;

    text-align: center;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.card > h1 {
    font-weight: 100;
    font-size: 45px;

    margin-block-start: 0;
    margin-block-end: 0;
}

.card > p {
    margin-block-start: 0;
    margin-block-end: 0;
}